.goodreads-akllibrary-ext-container {
  z-index: 9999;
  margin-bottom: 8px;
  padding: 0;
  width: 100%;
}

.goodreads-akllibrary-ext-button {
  background-color: #cb2727;
  border: 0;
  color: #fff;
  width: 100%;
  padding: 6px 2px;
  border-radius: 34px;
  font-weight: bold;
}

.goodreads-akllibrary-ext-button.goodreads-akllibrary-ext-mobile {
  padding: 14px 0;
}

.goodreads-akllibrary-ext-button:hover {
  background-color: #db2d2d;
}
